# Dependencies
node_modules
.pnpm-store

# Next.js
.next
out

# Production
build
dist

# Environment
.env
.env*.local

# Misc
.DS_Store
*.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Testing
coverage
.nyc_output

# Playwright
playwright-report/
playwright/.cache/
test-results/

# Vercel
.vercel

# IDE
.idea
.vscode
*.swp
*.swo

# Debug
*.log

# Build cache
.cover-cache.json
.appearance-cover-cache.json

# Content Collections
.content-collections
